/*  CSS comment */

body{
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}
  
.darkmode {
    
    background-color: black;
    color: white;
  }

      
.darkBtn{
    float : right;
    cursor: pointer;
}

#darkBtnStyle{

    font-size: 15px;
    text-align: right;

}
      


.questions{
    margin-right:5%;
    margin-left:5%;
    text-align: center;
}
.btnOp{
    background-color: #a5af4c; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.border{
    border:3px solid #a5af4c;
    font-family: 'Chiller';
    font-size: 35px;
    
}


/* for the slider*/

.switch {
    
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
   
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  /* for cirlce to left */
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
    
    
  }
  
  input:checked + .slider {
    
    background-color:#ccc;
    
  }
  
  
  /*for checked cirlce*/
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: white;
    
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    
    
  }
  
  .slider.round:before {
    border-radius: 50%;
    
  }