/*  CSS file for styling */

/*default body colour*/
body{
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}
  
/*dark mode enabled */
.darkmode {
    
    background-color: black;
    color: white;
  }

/*positining for dark button*/
.darkBtn{
    float : right;
    cursor: pointer;
}

#darkBtnStyle{

    font-size: 15px;
    text-align: right;

}
      
/*sets the place for the questions container to be in the center*/
.questions{
    margin-right:5%;
    margin-left:5%;
    text-align: center;
}


.btnOp {
  position: relative;
  background-color:#a5af4c;
  border: none;
  font-size: 18px;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  -webkit-transition-duration: 0.1s; /* Safari 0.4*/
  transition-duration: 0.1s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.btnOp:after {
  content: "";
  background: #a5af4c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.1s
}

.btnOp:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

/*sets the container for scenario */
.border{
    border:10px solid #a5af4c;
    font-family: '18thCentury';
    font-size: 35px;
    border-radius: 25px;
    border-style: outset;
    
}

/*CSS for welcome button for hovering */
.wBtn {
  border-radius: 4px;
  background-color: #a5af4c;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 225px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.wBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.wBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.wBtn:hover span {
  padding-right: 25px;
}

.wBtn:hover span:after {
  opacity: 1;
 
}

/* for the slider*/

.switch {
    
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
   
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  /* for cirlce to left */
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
    
    
  }
  
  input:checked + .slider {
    
    background-color:#ccc;
    
  }
  
  
  /*for checked cirlce*/
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: white;
    
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    
    
  }
  
  .slider.round:before {
    border-radius: 50%;
    
  }